@import "tailwindcss";

@theme {
  --color-slate-900: #0f172a;
  --color-sky-400: #38bdf8;
  --color-emerald-300: #6ee7b7;
}

:root {
  --background: #0f172a; /* Slate 900 */
  --foreground: #f8fafc; /* Slate 50 */
}

body {
  background: var(--background);
  color: var(--foreground);
}
